@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,700;1,500&display=swap');
body {
    /* background-color: antiquewhite; */
    font-family: 'Montserrat', sans-serif;
    /* background:radial-gradient(ellipse at center, rgba(255,254,234,1) 0%, rgba(255,254,234,1) 35%, #B7E8EB 100%); */
    overflow-x: hidden;
    position: relative;
    height: 100vh;
    box-sizing: border-box;
}

h1,h2{
  font-weight: 700;
  font-size: 28px;
}

h2{
  margin-top: 10px;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.intro {
    width: 100vw;
    height: 40vh;
    background-color: #253B3F;
    z-index: 1;
    position: absolute;
    top: 0;
}

.presentation-text{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.span {
  display: block;
    font-size: 64px;
    font-weight: bold;
    color: #f1f1f1;
    text-align: center;
    margin-top: 10px;
}

.pdf_Container {
  position: relative;
  aspect-ratio: 1/1.415;
  max-width: 595px;
  width: 80vw;
  z-index: 2;
  margin-top: 30vh;
}


.button_Download {
    text-decoration: none;
    width: 300px;
    color: black;
    background-color: #f1f1f1;
    padding: 10px 0px;
    text-align: center;
    border: 2px solid black;
    font-size: 24px;
    font-weight: bold;
    cursor: pointer;
    font-family: 'Courier New', Courier, monospace;
    z-index: 2;
}

@keyframes greet {
    0% {
      transform: rotate(0deg);
    }
    10% {
      transform: rotate(15deg);
    }
    20% {
      transform: rotate(-8deg);
    }
    30% {
      transform: rotate(15deg);
    }
    40% {
      transform: rotate(-4deg);
    }
    50% {
      transform: rotate(10deg);
    }
    60% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(0deg);
    }
  }

.presentation::before{
    content: '👋';
    animation-name: greet;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    transform-origin: 80% 80%;
    display: inline-block;
    margin-right: 10px;
}

.presentation{
  text-align: center;
  align-self: center;
}

.ocean { 
  height: 5vh;
  width:100vw;
  position:absolute;
  bottom:1;
  left:0;
  background: #015871;
  margin: 0;
  padding: 0;
}

.wave {
  background: url(wave.svg) repeat-x; 
  position: absolute;
  top: -198px;
  width: 6400px;
  min-height: 198px;
  max-height: 198px;
  animation: wave 7s cubic-bezier( 0.36, 0.45, 0.63, 0.53) infinite;
  transform: translate3d(0, 0, 0);
}

.wave:nth-of-type(2) {
  top: -175px;
  animation: wave 7s cubic-bezier( 0.36, 0.45, 0.63, 0.53) -.125s infinite, swell 7s ease -1.25s infinite;
  opacity: 1;
}

@keyframes wave {
  0% {
    margin-left: 0;
  }
  100% {
    margin-left: -1600px;
  }
}

@keyframes swell {
  0%, 100% {
    transform: translate3d(0,-25px,0);
  }
  50% {
    transform: translate3d(0,5px,0);
  }
}

@media screen and (max-width: 768px) {
  body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
      /* background-color: antiquewhite; */
      font-family: 'Montserrat', sans-serif;
      /* background:radial-gradient(ellipse at center, rgba(255,254,234,1) 0%, rgba(255,254,234,1) 35%, #B7E8EB 100%); */
      overflow-x: hidden;
      position: fixed;
      height: 100vh;
      width: 100vw;
      box-sizing: border-box;
  }
  .intro {
    width: 100vw;
    height: 30vh;
    background-color: #253B3F;
    z-index: 1;
    position: absolute;
    top: 0;
}

.pdf_Container {
  position: relative;
  aspect-ratio: 1/1.415;
  max-width: 595px;
  width: 80vw;
  z-index: 2;
  margin-top: 25vh;
}

  .ocean { 
    height: 5vh;
    width:100vw;
    position:absolute;
    bottom:0;
    left:0;
    background: #015871;
  }
  
  .wave {
    background: url(wave.svg) repeat-x; 
    position: absolute;
    top: -198px;
    width: 6400px;
    min-height: 198px;
    max-height: 198px;
    animation: wave 7s cubic-bezier( 0.36, 0.45, 0.63, 0.53) infinite;
    transform: translate3d(0, 0, 0);
  }
}